body{
    background-image: url('../img/background-image.webp');
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
}
.headerStyles{
    background-color: #dc3545 !important;
}
.nameHeader{
    color: aliceblue;
    margin-left: 25px;
    font-family: 'fantasy',serif;
    font-size: xx-large;
    font-weight: bolder;
}
.navbarStyles{
    justify-content: end;
}
.navbarStyles ul{
    float: right !important;
}
.navbarStyles button,
.navbarStyles a{
    color: aliceblue !important;  
    font-weight: bolder;
}
.footerStyles{
    background-color: #dc3545;
}
.footerStyles p, 
.footerStyles a {
    color: aliceblue !important;  
}
.orderSize{
    margin-bottom: 2px;
    font-style: italic;
}
#orderQuantity{
    width: 100%;
}
.orderImage{
    width: 100%;
}
.orderPrice{
    margin: 20px;
}
