.splash-carousel{
    width: 60%;
    margin-top: 35px;
    margin-bottom: 35px;
}
@media (max-width: 768px) {
    .splash-carousel{
        width: 90%;
    }
}

.homepage-columns{
    justify-content: space-around;
}
.splash-cards{
    text-align: center;
    padding: 30px;
}



.products{
    margin-top: 35px;
}
.product-row{
    margin-top: 35px;
    justify-content: space-around;
}

.productCard{
    display: block;
    opacity: 0;
    -webkit-box-shadow: 3px 2px 34px -10px rgba(0,0,0,0.77);
    -moz-box-shadow: 3px 2px 34px -10px rgba(0,0,0,0.77);
    box-shadow: 3px 2px 34px -10px rgba(0,0,0,0.77);
    padding: 0;
    margin: 0;
    height: 100%;
}
.productCard:hover{
    scale: 1.02;
}
@media (max-width: 768px) {
    .productCard{
        margin-top: 70px;
    }
}
.addToOrderButton{
    border-radius: 0;
    width: 100%;
}


.size-span{
    width: 30%;
    display:table;
}
#addNewPizza_errorMessage{
    display: none;
    color: red;
}


#addToOrder_image{
    width: 80%;
    float: right;
}
@media (max-width: 768px) {
    #addToOrder_image{
        width: 100%;
        float: none;
    }
}


.orderSize{
    margin-bottom: 2px;
    font-style: italic;
}
.orderImage{
    width: 100%;
}



.yourOrder{
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
    font-weight: bolder;
}
.yourOrder:hover{
    /*background-color: gray;*/
    -webkit-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.75);
}



/*
Sprite not used for splash carousel, individual images work better
*/
.bg-spriteOne {
    width: 1000px; height: 550px;
    background: url('../img/css_sprites.webp') -1030px -10px;
}
.bg-spriteTwo {
    width: 1000px; height: 550px;
    background: url('../img/css_sprites.webp') -10px -580px;
}
.bg-spriteThree {
    width: 1000px; height: 550px;
    background: url('../img/css_sprites.webp') -10px -10px;
}